.container.results
  -if @repos.blank?
    %p No Results
  -else
    =render partial: "owner", locals: {user: @user}
    %hr
    =render partial: "repo", collection: @repos
    .email-me
      %p Would you like a copy emailed to you?
      =form_tag "mail", method: 'post', class: "form-horizontal" do |f|
        = hidden_field_tag :username, params[:search]
        .control-group
          = label_tag "email", "Email", class: 'control-label'
          .controls
            = email_field_tag "email", "", placeholder: "Email Address"
        .control-group
          .controls
            %label.checkbox{for: "notify"}
              = check_box_tag "notify", "yes", false
              Notify me of any Repositories Added
            = button_tag "Email Me A Copy", class: "btn"
