Name:     #{@user.name}
Login:    #{@user.login}
Email:    #{@user.email}
Website:  #{@user.blog}

="###################################################"
-@repos.each do |repo|
  #{repo.name}(#{repo.html_url})
